{
    "swagger": "2.0",
    "info": {
        "description": "hyperf文档测试",
        "version": "1.0.0",
        "title": "hyperf文档测试"
    },
    "host": "cwt.hyperfdemo.cn",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "图片上传",
            "description": "图片上传"
        },
        {
            "name": "后台登录",
            "description": "后台登录"
        },
        {
            "name": "后台用户",
            "description": "后台用户添加\/修改\/用户列表\/删除\/用户权限\/权限列表"
        },
        {
            "name": "后台首页",
            "description": "新人引导展示\/修改\/系统设置展示\/修改\/首页"
        },
        {
            "name": "后台仓库管理",
            "description": "仓库添加\/修改\/列表\/删除"
        },
        {
            "name": "后台分类",
            "description": "大类添加\/修改\/列表\/删除\/小类添加\/修改\/列表\/删除"
        },
        {
            "name": "后台文章列表",
            "description": "关于我们展示\/修改\/联系我们添加\/修改\/列表\/删除"
        },
        {
            "name": "后台商品管理",
            "description": "商品添加\/修改\/商品删除\/商品列表\/库存盘点\/谷歌翻译\/商品销售统计\/属性修改\/上架下架"
        },
        {
            "name": "后台图片管理",
            "description": "图片添加\/修改\/图片列表\/图片删除\/图片状态修改\/功能按钮添加修改\/功能按钮列表\/功能按钮删除\/功能按钮状态修改\/开屏页修改\/开屏页"
        },
        {
            "name": "后台会员管理",
            "description": "会员列表\/会员修改\/会员删除\/会员状态修改"
        },
        {
            "name": "后台评价管理",
            "description": "评价列表\/评价状态修改\/评价状态删除\/app评价列表\/app评价删除"
        },
        {
            "name": "后台建议",
            "description": "建议列表\/建议状态修改\/建议状态删除"
        },
        {
            "name": "后台优惠劵管理",
            "description": "优惠劵添加\/优惠卷列表\/优惠劵删除"
        },
        {
            "name": "后台售后服务管理",
            "description": "售后服务列表\/售后服务状态修改\/售后服务删除\/投诉列表\/投诉状态修改\/投诉删除"
        },
        {
            "name": "后台购物卡管理",
            "description": "购物卡添加\/购物卡列表\/购物卡删除\/购物卡导出"
        },
        {
            "name": "后台邀请有礼",
            "description": "邀请规则列表\/邀请规则修改\/邀请记录\/邀请记录删除"
        },
        {
            "name": "后台交易管理",
            "description": "交易管理"
        },
        {
            "name": "后台订单管理",
            "description": "订单列表\/发货完成按钮\/取消订单跟线上取消退款退款可共用\/取消退款\/删除订单\/订单详情"
        },
        {
            "name": "后台交易金额",
            "description": "交易金额\/导出"
        },
        {
            "name": "后台运费",
            "description": "运费展示\/运费修改"
        },
        {
            "name": "前台登录",
            "description": "前台登录\/前台退出"
        },
        {
            "name": "前台注册",
            "description": "前台注册\/隐私协议\/忘记密码"
        },
        {
            "name": "前台新手引导",
            "description": "新手引导\/开屏页图"
        },
        {
            "name": "前台app首页",
            "description": "轮播图功能图\/超划算\/推荐\/商品详情\/搜索\/热搜记录"
        },
        {
            "name": "前台商品分类",
            "description": "大类列表\/小类列表\/商品列表\/评价列表"
        },
        {
            "name": "前台购物车",
            "description": "添加购物车\/购物车列表\/购物车修改\/购物车删除"
        },
        {
            "name": "前台收货地址",
            "description": "添加修改收货地址\/收货地址列表\/修改默认收货地址\/删除收货地址\/默认收货地址"
        },
        {
            "name": "前台确认订单",
            "description": "上班时间\/余额\/运费\/优惠卷\/确认订单"
        },
        {
            "name": "前台我的",
            "description": "我的首页\/个人详情\/修改\/修改电话"
        },
        {
            "name": "前台设置",
            "description": "服务与隐私\/评价app"
        },
        {
            "name": "前台分享app",
            "description": "分享app首页\/领取优惠劵\/邀请注册\/下载二维码"
        },
        {
            "name": "前台订单",
            "description": "订单列表\/待评价\/订单删除\/订单评价\/订单详情\/退款\/待支付\/24小时后自动收货\/申请或取消退款\/确认收货"
        },
        {
            "name": "前台联系我们",
            "description": "联系我们"
        },
        {
            "name": "前台售后服务",
            "description": "投诉建议\/拍照索赔"
        },
        {
            "name": "前台礼品卡兑换与账户余额",
            "description": "礼品卡兑换\/礼品卡规则\/账户余额"
        },
        {
            "name": "前台优惠劵",
            "description": "个人优惠劵\/领劵中心\/领劵中心领取优惠劵"
        }
    ],
    "definitions": {
        "ModelArray": {
            "type": "array",
            "required": [],
            "items": {
                "type": "string"
            }
        },
        "ModelObject": {
            "type": "object",
            "required": [],
            "items": {
                "type": "string"
            }
        },
        "UploadPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AdminLoginPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AdminLogoutPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "UserAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "UserListPostResponse200DataAuth：权限": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "首页"
                },
                "url：路由": {
                    "type": "string",
                    "default": "www.baidu.com"
                }
            }
        },
        "UserListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "username：名称": {
                    "type": "string",
                    "default": "admin"
                },
                "account：账号": {
                    "type": "string",
                    "default": "15007960733"
                },
                "password：密码": {
                    "type": "string",
                    "default": "e10adc3949ba59abbe56e057f20f883e"
                },
                "auth：权限": {
                    "type": "object",
                    "$ref": "#\/definitions\/UserListPostResponse200DataAuth：权限"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594297658
                },
                "update": {
                    "type": "integer",
                    "default": 1594297722
                }
            }
        },
        "UserListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/UserListPostResponse200Data"
                }
            }
        },
        "UserDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AuthPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "首页"
                },
                "url：路由": {
                    "type": "string",
                    "default": "www.baidu.com"
                },
                "add_time：添加时间": {
                    "type": "integer",
                    "default": 1594949293
                }
            }
        },
        "AuthPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/AuthPostResponse200Data"
                }
            }
        },
        "UserAuthPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "首页"
                },
                "url：路径": {
                    "type": "string",
                    "default": "www.baidu.com"
                }
            }
        },
        "UserAuthPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/UserAuthPostResponse200Data"
                }
            }
        },
        "PeoplePostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "text：内容": {
                    "type": "string",
                    "default": "123235423"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594192435
                },
                "update": {
                    "type": "integer",
                    "default": 1594352806
                }
            }
        },
        "PeoplePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/PeoplePostResponse200Data"
                }
            }
        },
        "SystemPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "begin：上班时间": {
                    "type": "string",
                    "default": "8:00"
                },
                "finish：下班时间": {
                    "type": "string",
                    "default": "18:00"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "15007960733"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594192435
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "SystemPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/SystemPostResponse200Data"
                }
            }
        },
        "GetPagePostResponse200DataGoods：商品统计": {
            "properties": {
                "num：所有商品": {
                    "type": "integer",
                    "default": 2
                },
                "putaway：上架": {
                    "type": "integer",
                    "default": 2
                },
                "sold：下架": {
                    "type": "integer",
                    "default": 0
                }
            }
        },
        "GetPagePostResponse200DataOrder：": {
            "properties": {
                "send：待发货": {
                    "type": "integer",
                    "default": 1
                },
                "unpaid：待结算": {
                    "type": "integer",
                    "default": 0
                },
                "make：已成交": {
                    "type": "integer",
                    "default": 0
                },
                "defeated：交易失败": {
                    "type": "integer",
                    "default": 0
                }
            }
        },
        "GetPagePostResponse200Data": {
            "properties": {
                "user：商城用户": {
                    "type": "integer",
                    "default": 7
                },
                "today：今日订单": {
                    "type": "integer",
                    "default": 1
                },
                "goods：商品统计": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetPagePostResponse200DataGoods：商品统计"
                },
                "order：": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetPagePostResponse200DataOrder："
                }
            }
        },
        "GetPagePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetPagePostResponse200Data"
                }
            }
        },
        "WarehouseAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "WarehouseListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：仓库名": {
                    "type": "string",
                    "default": "仓库1"
                },
                "area_name：区域名": {
                    "type": "string",
                    "default": "江西南昌红谷滩万达广场"
                },
                "area：经纬度": {
                    "type": "string",
                    "default": "12898120.55,3315255.29,14.68z"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594362002
                },
                "update": {
                    "type": "integer",
                    "default": 1594362096
                }
            }
        },
        "WarehouseListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/WarehouseListPostResponse200Data"
                }
            }
        },
        "WarehouseDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "LargeAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "LargeListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "电器"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "sort：排序": {
                    "type": "string",
                    "default": "231"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594368539
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "LargeListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/LargeListPostResponse200Data"
                }
            }
        },
        "LargeDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SubclassAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SubclassListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "name_little：名称": {
                    "type": "string",
                    "default": "裤子33"
                },
                "sort_little：排序": {
                    "type": "string",
                    "default": "33"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594369693
                },
                "update": {
                    "type": "integer",
                    "default": 1594369709
                }
            }
        },
        "SubclassListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/SubclassListPostResponse200Data"
                }
            }
        },
        "SubclassDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AboutListPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ContactAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ContactListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "la"
                },
                "title：标题": {
                    "type": "string",
                    "default": "baiti"
                },
                "text：内容": {
                    "type": "string",
                    "default": "12542363467"
                },
                "time": {
                    "type": "integer",
                    "default": 1594380347
                }
            }
        },
        "ContactListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/ContactListPostResponse200Data"
                }
            }
        },
        "ContactDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GoodsAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GoodsUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GooglePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GoodsDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GoodsListPostResponse200DataWarehouse：仓库": {
            "properties": {
                "id：库存id": {
                    "type": "integer",
                    "default": 24
                },
                "warehouse_id：仓库id": {
                    "type": "integer",
                    "default": 4
                },
                "name：仓库名": {
                    "type": "string",
                    "default": "仓库4"
                },
                "num：库存": {
                    "type": "string",
                    "default": "111"
                }
            }
        },
        "GoodsListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 2
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "sort_little：编号": {
                    "type": "string",
                    "default": "2"
                },
                "name_little：名称": {
                    "type": "string",
                    "default": "衣服"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594369731
                },
                "update": {
                    "type": "NULL",
                    "default": null
                },
                "list": {
                    "type": "object",
                    "$ref": "#\/definitions\/GoodsListPostResponse200DataList"
                }
            }
        },
        "GoodsListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GoodsListPostResponse200Data"
                }
            }
        },
        "OperationPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 17
                },
                "number：编号": {
                    "type": "string",
                    "default": ""
                },
                "name：名称": {
                    "type": "string",
                    "default": "幼儿|棉质插肩袖徽标LOGO圆领短袖T恤1111"
                },
                "warehouse：仓库": {
                    "type": "string",
                    "default": "仓库4"
                },
                "numTwo：库存数量": {
                    "type": "string",
                    "default": "300"
                },
                "status：1增加2减少": {
                    "type": "integer",
                    "default": 1
                },
                "num：数量": {
                    "type": "string",
                    "default": "300"
                },
                "operation：什么地方操作的": {
                    "type": "string",
                    "default": "后台增加"
                },
                "add_time：时间": {
                    "type": "integer",
                    "default": 1594811344
                }
            }
        },
        "OperationPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/OperationPostResponse200Data"
                }
            }
        },
        "StatisticsPostResponse200Data": {
            "properties": {
                "goods_id：商品id": {
                    "type": "integer",
                    "default": 23
                },
                "name：名称": {
                    "type": "string",
                    "default": "幼儿|棉质裤子"
                },
                "number：数量": {
                    "type": "string",
                    "default": "15"
                }
            }
        },
        "StatisticsPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/StatisticsPostResponse200Data"
                }
            }
        },
        "GetPropertyPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetSoldPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ImgAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ImgListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 7
                },
                "sort：排序": {
                    "type": "string",
                    "default": "2789544"
                },
                "name：名称": {
                    "type": "string",
                    "default": "图片22"
                },
                "img：图片": {
                    "type": "string",
                    "default": "2.jpg"
                },
                "url_name：链接": {
                    "type": "string",
                    "default": "京东"
                },
                "url：链接": {
                    "type": "string",
                    "default": "www.jd.com"
                },
                "status：1启用2禁用": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594871128
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "ImgListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/ImgListPostResponse200Data"
                }
            }
        },
        "ImgDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ImgStatusPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "FunctionAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "FunctionListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "name：描述": {
                    "type": "string",
                    "default": "描述124215"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "url：链接": {
                    "type": "string",
                    "default": "www.baidu.com"
                },
                "status：1开启2禁用": {
                    "type": "integer",
                    "default": 1
                },
                "add_time：添加时间": {
                    "type": "integer",
                    "default": 1594884360
                },
                "update": {
                    "type": "integer",
                    "default": 1594884545
                }
            }
        },
        "FunctionListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/FunctionListPostResponse200Data"
                }
            }
        },
        "FunctionDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "FunctionStatusPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AlterSpreadPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SpreadPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "update": {
                    "type": "integer",
                    "default": 12421
                }
            }
        },
        "SpreadPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/SpreadPostResponse200Data"
                }
            }
        },
        "MemberListPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "MemberUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "MemberDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "MemberStatusPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "EvaluateListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 5
                },
                "name：名称": {
                    "type": "string",
                    "default": "评价5"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "150"
                },
                "serial：编号": {
                    "type": "string",
                    "default": "23523566"
                },
                "text：内容": {
                    "type": "string",
                    "default": "哈哈哈哈"
                },
                "level：星级": {
                    "type": "string",
                    "default": "1"
                },
                "status：1未审核2成功3失败": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594881384
                }
            }
        },
        "EvaluateListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/EvaluateListPostResponse200Data"
                }
            }
        },
        "EvaluateUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "EvaluateDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AppListPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AppDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SuggestListPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SuggestStatusPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SuggestDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "CouponAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "CouponListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 10
                },
                "name：优惠劵名": {
                    "type": "string",
                    "default": "优惠劵3"
                },
                "way：发放方式": {
                    "type": "integer",
                    "default": 0
                },
                "money：面额": {
                    "type": "string",
                    "default": "10.00"
                },
                "count：数量": {
                    "type": "integer",
                    "default": 0
                },
                "restrict：每人可以领多少": {
                    "type": "integer",
                    "default": 0
                },
                "end：有效时间": {
                    "type": "string",
                    "default": "2020-07-16 12:00:07至2020-07-20 12:00:07"
                },
                "add_time：创建时间": {
                    "type": "string",
                    "default": "2020-07-17 06:27:03"
                }
            }
        },
        "CouponListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/CouponListPostResponse200Data"
                }
            }
        },
        "CouponDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AfterListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 4
                },
                "name：名称": {
                    "type": "string",
                    "default": "索赔4"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "140"
                },
                "mark：订单号": {
                    "type": "string",
                    "default": "235235"
                },
                "text：内容": {
                    "type": "string",
                    "default": "ffsafas"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "status：1待处理2已处理": {
                    "type": "integer",
                    "default": 1
                },
                "add_time：添加时间": {
                    "type": "integer",
                    "default": 1594951339
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "AfterListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/AfterListPostResponse200Data"
                }
            }
        },
        "AfterStatusPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "AfterDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ComplainListPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ComplainStatusPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ComplainDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ShoppingAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ShoppingListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 12100
                },
                "card：卡号": {
                    "type": "string",
                    "default": "4102863759"
                },
                "password：密码": {
                    "type": "string",
                    "default": "ukycAYHTL7"
                },
                "money：面额": {
                    "type": "string",
                    "default": "20.00"
                },
                "name：名称": {
                    "type": "NULL",
                    "default": null
                },
                "account：账号": {
                    "type": "NULL",
                    "default": null
                },
                "add_time：生成时间": {
                    "type": "integer",
                    "default": 1594967313
                },
                "update：兑换时间": {
                    "type": "integer",
                    "default": 1111111
                }
            }
        },
        "ShoppingListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/ShoppingListPostResponse200Data"
                }
            }
        },
        "ShoppingDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ShoppingExportPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "InviteListPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "InviteUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "InvitedRecordPostResponse200Data": {
            "properties": {
                "uid：用户id": {
                    "type": "integer",
                    "default": 3
                },
                "name：名称": {
                    "type": "string",
                    "default": "ggg"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "130"
                },
                "num：邀请人数": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "InvitedRecordPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/InvitedRecordPostResponse200Data"
                }
            }
        },
        "InvitedDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetDealPostResponse200DataRecord：柱形图": {
            "properties": {
                "first：时间": {
                    "type": "integer",
                    "default": 1577808000
                },
                "end：时间": {
                    "type": "integer",
                    "default": 1580400000
                },
                "sum：所有": {
                    "type": "integer",
                    "default": 0
                },
                "finish：已完成": {
                    "type": "integer",
                    "default": 0
                },
                "due：代发货": {
                    "type": "integer",
                    "default": 0
                },
                "cancel：已取消": {
                    "type": "integer",
                    "default": 0
                }
            }
        },
        "GetDealPostResponse200Data": {
            "properties": {
                "month：本月交易金额": {
                    "type": "string",
                    "default": "120.00"
                },
                "day：今天交易金额": {
                    "type": "integer",
                    "default": 0
                },
                "monthTime：本月订单数": {
                    "type": "integer",
                    "default": 4
                },
                "dayTime：今天订单数": {
                    "type": "integer",
                    "default": 0
                },
                "record：柱形图": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetDealPostResponse200DataRecord：柱形图"
                }
            }
        },
        "GetDealPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetDealPostResponse200Data"
                }
            }
        },
        "OrderListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 4
                },
                "order_number：订单号": {
                    "type": "string",
                    "default": "sxwm15954821684126983057"
                },
                "name：名称": {
                    "type": "string",
                    "default": "老王"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "money：金额": {
                    "type": "string",
                    "default": "0.00"
                },
                "payment：1线上2线下": {
                    "type": "integer",
                    "default": 2
                },
                "start：送货开始": {
                    "type": "integer",
                    "default": 1595298015
                },
                "end：送货结束": {
                    "type": "integer",
                    "default": 1595328017
                },
                "add_time": {
                    "type": "integer",
                    "default": 1595482168
                },
                "status：1提交订单2未支付3已支付4配送中5确认收货6退货中7退货成功8退货失败9取消退货": {
                    "type": "integer",
                    "default": 3
                },
                "number：数量": {
                    "type": "string",
                    "default": "3"
                }
            }
        },
        "OrderListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/OrderListPostResponse200Data"
                }
            }
        },
        "OrderCancelPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetCancelPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetRefundPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "OrderDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "OrderDetailsPostResponse200DataList：买家信息": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 4
                },
                "order_number：订单号": {
                    "type": "string",
                    "default": "sxwm15954821684126983057"
                },
                "name：用户名": {
                    "type": "string",
                    "default": "老王"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "site：地址": {
                    "type": "string",
                    "default": "江西南昌"
                },
                "detail：详细地址": {
                    "type": "string",
                    "default": "红谷滩万达b1 1313"
                },
                "payment：1线上2线下": {
                    "type": "integer",
                    "default": 2
                },
                "start：上门开始时间": {
                    "type": "integer",
                    "default": 1595298015
                },
                "end：上门结束时间": {
                    "type": "integer",
                    "default": 1595328017
                },
                "status": {
                    "type": "integer",
                    "default": 3
                },
                "add_time：下单时间": {
                    "type": "integer",
                    "default": 1595482168
                },
                "pay_time：支付时间": {
                    "type": "integer",
                    "default": 1595482168
                },
                "deliver_time：发货时间": {
                    "type": "NULL",
                    "default": null
                },
                "complete_time：完成时间": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "OrderDetailsPostResponse200DataOrder：订单": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 14
                },
                "name：商品名": {
                    "type": "string",
                    "default": "幼儿|棉质裤子"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "number：数量": {
                    "type": "integer",
                    "default": 2
                },
                "money：金额": {
                    "type": "string",
                    "default": "10.00"
                },
                "price：单个商品总金额": {
                    "type": "string",
                    "default": "20.00"
                }
            }
        },
        "OrderDetailsPostResponse200Data": {
            "properties": {
                "list：买家信息": {
                    "type": "object",
                    "$ref": "#\/definitions\/OrderDetailsPostResponse200DataList：买家信息"
                },
                "order：订单": {
                    "type": "object",
                    "$ref": "#\/definitions\/OrderDetailsPostResponse200DataOrder：订单"
                },
                "discounts：优惠金额": {
                    "type": "integer",
                    "default": 10
                },
                "balance：余额": {
                    "type": "integer",
                    "default": 20
                },
                "deal应付": {
                    "type": "string",
                    "default": "0.00"
                }
            }
        },
        "OrderDetailsPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/OrderDetailsPostResponse200Data"
                }
            }
        },
        "TransactionPostResponse200DataOrder": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 4
                },
                "order_number：订单号": {
                    "type": "string",
                    "default": "sxwm15954821684126983057"
                },
                "money：钱": {
                    "type": "string",
                    "default": "0.00"
                },
                "payment：1线上2线下": {
                    "type": "integer",
                    "default": 2
                },
                "pay_time：支付时间": {
                    "type": "integer",
                    "default": 1595482168
                }
            }
        },
        "TransactionPostResponse200Data": {
            "properties": {
                "money：总金额": {
                    "type": "string",
                    "default": "0.00"
                },
                "day：今天": {
                    "type": "string",
                    "default": "0.00"
                },
                "order": {
                    "type": "object",
                    "$ref": "#\/definitions\/TransactionPostResponse200DataOrder"
                }
            }
        },
        "TransactionPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/TransactionPostResponse200Data"
                }
            }
        },
        "GetDerivePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ListFreightPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "full：满多少": {
                    "type": "integer",
                    "default": 20
                },
                "subtract：减多少": {
                    "type": "integer",
                    "default": 10
                },
                "update": {
                    "type": "integer",
                    "default": 1597025950
                }
            }
        },
        "ListFreightPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/ListFreightPostResponse200Data"
                }
            }
        },
        "DelFreightPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "HomeLoginPostResponse200DataUser": {
            "properties": {
                "uid：用户id": {
                    "type": "integer",
                    "default": 10
                },
                "username：名称": {
                    "type": "string",
                    "default": "用户1072398654"
                }
            }
        },
        "HomeLoginPostResponse200Data": {
            "properties": {
                "token": {
                    "type": "string",
                    "default": "eyJ0eXAiOiJKV1QiLCJhbGciOiJ"
                },
                "user": {
                    "type": "object",
                    "$ref": "#\/definitions\/HomeLoginPostResponse200DataUser"
                }
            }
        },
        "HomeLoginPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/HomeLoginPostResponse200Data"
                }
            }
        },
        "HomeLogoutPostResponse200Data": {
            "properties": {
                "url：路由": {
                    "type": "string",
                    "default": "\\\/homeLogin"
                },
                "success": {
                    "type": "string",
                    "default": "退出成功"
                }
            }
        },
        "HomeLogoutPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/HomeLogoutPostResponse200Data"
                }
            }
        },
        "RegisterPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "VerifyPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "ProtocolPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "隐私协议"
                },
                "title：标题": {
                    "type": "string",
                    "default": "baiti"
                },
                "text：内容": {
                    "type": "string",
                    "default": "12542363467"
                },
                "time": {
                    "type": "integer",
                    "default": 1594379107
                }
            }
        },
        "ProtocolPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/ProtocolPostResponse200Data"
                }
            }
        },
        "ModificationPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetSpreadPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "update": {
                    "type": "integer",
                    "default": 12421
                }
            }
        },
        "GetSpreadPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetSpreadPostResponse200Data"
                }
            }
        },
        "PageListPostResponse200DataList": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "sort：排序": {
                    "type": "string",
                    "default": "221"
                },
                "name：名称": {
                    "type": "string",
                    "default": "图片1"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "url_name：链接名": {
                    "type": "string",
                    "default": "百度"
                },
                "url：链接名": {
                    "type": "string",
                    "default": "www.daidu.com"
                },
                "status": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594870385
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "PageListPostResponse200DataInfo": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "描述"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "url：链接": {
                    "type": "string",
                    "default": "www.baidu.com"
                },
                "status": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594884358
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "PageListPostResponse200Data": {
            "properties": {
                "list": {
                    "type": "object",
                    "$ref": "#\/definitions\/PageListPostResponse200DataList"
                },
                "info": {
                    "type": "object",
                    "$ref": "#\/definitions\/PageListPostResponse200DataInfo"
                }
            }
        },
        "PageListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/PageListPostResponse200Data"
                }
            }
        },
        "BargainPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 24
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "little_id：小类id": {
                    "type": "integer",
                    "default": 2
                },
                "name：商品名称": {
                    "type": "string",
                    "default": "幼儿|棉质插肩袖徽标LOGO圆领短袖T恤1111"
                },
                "title：标题": {
                    "type": "string",
                    "default": ""
                },
                "number：编号": {
                    "type": "string",
                    "default": ""
                },
                "money：展示价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "price：市场价格": {
                    "type": "string",
                    "default": "0.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "attribute：0=>没有；1=>划算；2=>推荐": {
                    "type": "integer",
                    "default": 2
                },
                "restrict：999999999为不限制": {
                    "type": "integer",
                    "default": 20
                },
                "label：标签": {
                    "type": "string",
                    "default": ""
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "text：内容": {
                    "type": "string",
                    "default": ""
                },
                "status：1=>上架；2=>下架": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594610633
                },
                "update": {
                    "type": "integer",
                    "default": 1594811344
                },
                "count": {
                    "type": "string",
                    "default": "4"
                }
            }
        },
        "BargainPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/BargainPostResponse200Data"
                }
            }
        },
        "RecommendPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 24
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "little_id：小类id": {
                    "type": "integer",
                    "default": 2
                },
                "name：商品名称": {
                    "type": "string",
                    "default": "幼儿|棉质插肩袖徽标LOGO圆领短袖T恤1111"
                },
                "title：标题": {
                    "type": "string",
                    "default": ""
                },
                "number：编号": {
                    "type": "string",
                    "default": ""
                },
                "money：展示价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "price：市场价格": {
                    "type": "string",
                    "default": "0.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "attribute：0=>没有；1=>划算；2=>推荐": {
                    "type": "integer",
                    "default": 2
                },
                "restrict：999999999为不限制": {
                    "type": "integer",
                    "default": 20
                },
                "label：标签": {
                    "type": "string",
                    "default": ""
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "text：内容": {
                    "type": "string",
                    "default": ""
                },
                "status：1=>上架；2=>下架": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594610633
                },
                "update": {
                    "type": "integer",
                    "default": 1594811344
                },
                "count": {
                    "type": "string",
                    "default": "1"
                }
            }
        },
        "RecommendPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/RecommendPostResponse200Data"
                }
            }
        },
        "ParticularsPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 24
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "little_id：小类id": {
                    "type": "integer",
                    "default": 2
                },
                "name：商品名称": {
                    "type": "string",
                    "default": "幼儿|棉质插肩袖徽标LOGO圆领短袖T恤1111"
                },
                "title：标题": {
                    "type": "string",
                    "default": ""
                },
                "number：编号": {
                    "type": "string",
                    "default": ""
                },
                "money：展示价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "price：市场价格": {
                    "type": "string",
                    "default": "0.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "attribute：0=>没有；1=>划算；2=>推荐": {
                    "type": "integer",
                    "default": 2
                },
                "restrict：999999999为不限制": {
                    "type": "integer",
                    "default": 20
                },
                "label：标签": {
                    "type": "string",
                    "default": ""
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "text：内容": {
                    "type": "string",
                    "default": ""
                },
                "status：1=>上架；2=>下架": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594610633
                },
                "update": {
                    "type": "integer",
                    "default": 1594811344
                }
            }
        },
        "ParticularsPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/ParticularsPostResponse200Data"
                }
            }
        },
        "SearchPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "HotBotPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 11
                },
                "name：名称": {
                    "type": "string",
                    "default": "西瓜"
                },
                "num：数量": {
                    "type": "integer",
                    "default": 7
                }
            }
        },
        "HotBotPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/HotBotPostResponse200Data"
                }
            }
        },
        "LargePostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "name：名称": {
                    "type": "string",
                    "default": "服装"
                },
                "sort：排序": {
                    "type": "string",
                    "default": "2"
                },
                "img：图片": {
                    "type": "string",
                    "default": "7.jpg"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594368555
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "LargePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/LargePostResponse200Data"
                }
            }
        },
        "LittlePostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 2
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "sort_little：排序": {
                    "type": "string",
                    "default": "2"
                },
                "name_little：名称": {
                    "type": "string",
                    "default": "衣服"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594369731
                },
                "update": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "LittlePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/LittlePostResponse200Data"
                }
            }
        },
        "GoodsListPostResponse200DataList": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 24
                },
                "name_little：类名": {
                    "type": "string",
                    "default": "衣服"
                },
                "big_id：大类id": {
                    "type": "integer",
                    "default": 3
                },
                "little_id :小类id": {
                    "type": "integer",
                    "default": 2
                },
                "name：商品名": {
                    "type": "string",
                    "default": "幼儿|棉质插肩袖徽标LOGO圆领短袖T恤1111"
                },
                "title：标题": {
                    "type": "string",
                    "default": ""
                },
                "number：编号": {
                    "type": "string",
                    "default": ""
                },
                "money：展示价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "price：市场价格": {
                    "type": "string",
                    "default": "0.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "attribute": {
                    "type": "integer",
                    "default": 2
                },
                "restrict：999999999为不限制": {
                    "type": "integer",
                    "default": 20
                },
                "label：标签": {
                    "type": "string",
                    "default": ""
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "text：内容": {
                    "type": "string",
                    "default": ""
                },
                "status：1=>上架；2=>下架": {
                    "type": "integer",
                    "default": 1
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594610633
                },
                "update": {
                    "type": "integer",
                    "default": 1594811344
                }
            }
        },
        "EvaluatePostResponse200DataList": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "goods_id：商品id": {
                    "type": "integer",
                    "default": 23
                },
                "order_id：订单id": {
                    "type": "string",
                    "default": "sxwm23523"
                },
                "name：名称": {
                    "type": "string",
                    "default": "评价3"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "130"
                },
                "serial：编号": {
                    "type": "string",
                    "default": "23523566"
                },
                "text：内容": {
                    "type": "string",
                    "default": "哈哈哈哈"
                },
                "level：星级": {
                    "type": "string",
                    "default": "1"
                },
                "status：1未审核2成功3失败": {
                    "type": "integer",
                    "default": 3
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594881384
                }
            }
        },
        "EvaluatePostResponse200Data": {
            "properties": {
                "count：数量": {
                    "type": "integer",
                    "default": 3
                },
                "list": {
                    "type": "object",
                    "$ref": "#\/definitions\/EvaluatePostResponse200DataList"
                }
            }
        },
        "EvaluatePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/EvaluatePostResponse200Data"
                }
            }
        },
        "VehicleAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "VehicleListPostResponse200DataList": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "goods_id": {
                    "type": "integer",
                    "default": 24
                },
                "name：名称": {
                    "type": "string",
                    "default": "幼儿|棉质裤子"
                },
                "title：标题": {
                    "type": "string",
                    "default": ""
                },
                "number：编号": {
                    "type": "string",
                    "default": "sxwm6074385912"
                },
                "money：展示价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "price：市场价格": {
                    "type": "string",
                    "default": "0.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "attribute：0=>没有；1=>划算；2=>推荐": {
                    "type": "integer",
                    "default": 1
                },
                "label：标签": {
                    "type": "string",
                    "default": ""
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "text：内容": {
                    "type": "string",
                    "default": ""
                },
                "status：1=>上架；2=>下架": {
                    "type": "string",
                    "default": "1"
                },
                "num：数量": {
                    "type": "integer",
                    "default": 2
                }
            }
        },
        "VehicleListPostResponse200Data": {
            "properties": {
                "list": {
                    "type": "object",
                    "$ref": "#\/definitions\/VehicleListPostResponse200DataList"
                },
                "money：合计价格": {
                    "type": "integer",
                    "default": 20
                }
            }
        },
        "VehicleListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/VehicleListPostResponse200Data"
                }
            }
        },
        "VehicleUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "VehicleDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SiteAddPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SiteListPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "uid：用户id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "老王233"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "site：地址": {
                    "type": "string",
                    "default": "江西南昌"
                },
                "detail：详细地址": {
                    "type": "string",
                    "default": "红谷滩万达b3 1313"
                },
                "label：标签": {
                    "type": "string",
                    "default": "其他124"
                },
                "status：1默认2非默认": {
                    "type": "integer",
                    "default": 2
                },
                "add_time": {
                    "type": "integer",
                    "default": 1595235512
                },
                "update": {
                    "type": "integer",
                    "default": 1595235601
                }
            }
        },
        "SiteListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/SiteListPostResponse200Data"
                }
            }
        },
        "SiteUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "SiteDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "DefaultPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "uid：用户id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "老王233"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "site：地址": {
                    "type": "string",
                    "default": "江西南昌"
                },
                "detail：详细地址": {
                    "type": "string",
                    "default": "红谷滩万达b3 1313"
                },
                "label：标签": {
                    "type": "string",
                    "default": "其他124"
                },
                "status：1默认2非默认": {
                    "type": "integer",
                    "default": 2
                },
                "add_time": {
                    "type": "integer",
                    "default": 1595235512
                },
                "update": {
                    "type": "integer",
                    "default": 1595235601
                }
            }
        },
        "DefaultPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/DefaultPostResponse200Data"
                }
            }
        },
        "WorkdayPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "begin：上班时间": {
                    "type": "string",
                    "default": "9:00"
                },
                "finish：下班时间": {
                    "type": "string",
                    "default": "21:00"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "add_time": {
                    "type": "integer",
                    "default": 1594192435
                },
                "update": {
                    "type": "integer",
                    "default": 1594354222
                }
            }
        },
        "WorkdayPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/WorkdayPostResponse200Data"
                }
            }
        },
        "BalancePostResponse200Data": {
            "properties": {
                "money：余额": {
                    "type": "string",
                    "default": "100.00"
                }
            }
        },
        "BalancePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/BalancePostResponse200Data"
                }
            }
        },
        "GetFreightPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "full：满": {
                    "type": "integer",
                    "default": 20
                },
                "subtract：减": {
                    "type": "integer",
                    "default": 10
                },
                "update": {
                    "type": "integer",
                    "default": 1597025950
                }
            }
        },
        "GetFreightPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetFreightPostResponse200Data"
                }
            }
        },
        "TicketPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "优惠劵1"
                },
                "full：满多少": {
                    "type": "NULL",
                    "default": null
                },
                "not：减多少": {
                    "type": "string",
                    "default": "10.00"
                },
                "valid_time：有效时间": {
                    "type": "integer",
                    "default": 1596162015
                }
            }
        },
        "TicketPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/TicketPostResponse200Data"
                }
            }
        },
        "ConfirmOrderPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "MyListPostResponse200DataUser": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "username：用户名": {
                    "type": "string",
                    "default": "客户1"
                },
                "money：余额": {
                    "type": "string",
                    "default": "60.00"
                },
                "img：头像": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "MyListPostResponse200Data": {
            "properties": {
                "user": {
                    "type": "object",
                    "$ref": "#\/definitions\/MyListPostResponse200DataUser"
                },
                "send：待发货": {
                    "type": "integer",
                    "default": 3
                },
                "present：待收货": {
                    "type": "integer",
                    "default": 0
                },
                "finish：已完成": {
                    "type": "integer",
                    "default": 0
                },
                "evaluate：待评价": {
                    "type": "integer",
                    "default": 0
                },
                "coupon：优惠劵": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "MyListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/MyListPostResponse200Data"
                }
            }
        },
        "GetMyPostResponse200Data": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "username：名称": {
                    "type": "string",
                    "default": "客户1"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "img：头像": {
                    "type": "NULL",
                    "default": null
                },
                "mail：邮箱": {
                    "type": "NULL",
                    "default": null
                }
            }
        },
        "GetMyPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetMyPostResponse200Data"
                }
            }
        },
        "MyUpdatePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "MyPhonePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetProtocolPostResponse200DataPrivacy：隐私": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "隐私协议"
                },
                "title：标题": {
                    "type": "string",
                    "default": "baiti"
                },
                "text：文本": {
                    "type": "string",
                    "default": "12542363467"
                },
                "time": {
                    "type": "integer",
                    "default": 1594379107
                }
            }
        },
        "GetProtocolPostResponse200DataServe：服务": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 2
                },
                "name：名称": {
                    "type": "string",
                    "default": "服务协议"
                },
                "title：标题": {
                    "type": "string",
                    "default": "2"
                },
                "text：文本": {
                    "type": "string",
                    "default": "2"
                },
                "time": {
                    "type": "integer",
                    "default": 2
                }
            }
        },
        "GetProtocolPostResponse200Data": {
            "properties": {
                "privacy：隐私": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetProtocolPostResponse200DataPrivacy：隐私"
                },
                "serve：服务": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetProtocolPostResponse200DataServe：服务"
                }
            }
        },
        "GetProtocolPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetProtocolPostResponse200Data"
                }
            }
        },
        "GetAppraisePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "CodeListPostResponse200DataCoupon": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 10
                },
                "name：优惠劵名": {
                    "type": "string",
                    "default": "优惠劵3"
                },
                "way：发放方式": {
                    "type": "integer",
                    "default": 0
                },
                "money：面额": {
                    "type": "string",
                    "default": "10.00"
                },
                "count：数量": {
                    "type": "integer",
                    "default": 0
                },
                "restrict：每人可以领多少": {
                    "type": "integer",
                    "default": 0
                },
                "end：有效时间": {
                    "type": "string",
                    "default": "2020-07-16 12:00:07至2020-07-20 12:00:07"
                },
                "add_time：创建时间": {
                    "type": "string",
                    "default": "2020-07-17 06:27:03"
                }
            }
        },
        "CodeListPostResponse200Data": {
            "properties": {
                "list：活动介绍": {
                    "type": "string",
                    "default": "sjbgsogogkjsgkskjogsoigbkjsogosoghhs"
                },
                "img：二维码": {
                    "type": "string",
                    "default": "\\\/img\\\/1595392366.png"
                },
                "url：链接": {
                    "type": "string",
                    "default": "www.baidu.com"
                },
                "num：人数": {
                    "type": "integer",
                    "default": 1
                },
                "coupon": {
                    "type": "object",
                    "$ref": "#\/definitions\/CodeListPostResponse200DataCoupon"
                }
            }
        },
        "CodeListPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/CodeListPostResponse200Data"
                }
            }
        },
        "GetCouponPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetRegisterPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "GetCodePostResponse200Data": {
            "properties": {
                "android：安卓": {
                    "type": "string",
                    "default": "www.jd.com"
                },
                "ios：苹果": {
                    "type": "string",
                    "default": "www.taobao.com"
                }
            }
        },
        "GetCodePostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetCodePostResponse200Data"
                }
            }
        },
        "GetOrderPostResponse200DataList": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "order：订单号": {
                    "type": "string",
                    "default": "sxwm15953327116753910482"
                },
                "name：名称": {
                    "type": "string",
                    "default": "幼儿|棉质裤子"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "money：价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "number：数量": {
                    "type": "integer",
                    "default": 2
                },
                "status：1提交订单2未支付3已支付4配送中5确认收货6退货中7退货成功8退货失败9取消退货": {
                    "type": "integer",
                    "default": 3
                }
            }
        },
        "GetOrderPostResponse200Data": {
            "properties": {
                "order_number：订单号": {
                    "type": "string",
                    "default": "sxwm15954821684126983057"
                },
                "list": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetOrderPostResponse200DataList"
                }
            }
        },
        "GetOrderPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetOrderPostResponse200Data"
                }
            }
        },
        "GetStayPostResponse200DataList": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 3
                },
                "order：订单号": {
                    "type": "string",
                    "default": "sxwm15953327116753910482"
                },
                "name：名称": {
                    "type": "string",
                    "default": "幼儿|棉质裤子"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "money：价格": {
                    "type": "string",
                    "default": "10.00"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "number：数量": {
                    "type": "integer",
                    "default": 2
                },
                "evaluate：评价1未评价": {
                    "type": "integer",
                    "default": 3
                }
            }
        },
        "GetStayPostResponse200Data": {
            "properties": {
                "order_number：订单号": {
                    "type": "string",
                    "default": "sxwm15953327116753910482"
                },
                "list": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetStayPostResponse200DataList"
                }
            }
        },
        "GetStayPostResponse200": {
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#\/definitions\/GetStayPostResponse200Data"
                }
            }
        },
        "StayDeletePostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "OrderStayPostResponse200": {
            "properties": {
                "data": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "StayListPostResponse200DataGoods：商品": {
            "properties": {
                "name：名称": {
                    "type": "string",
                    "default": "幼儿|棉质裤子"
                },
                "img：图片": {
                    "type": "string",
                    "default": "1.jpg"
                },
                "standard：规格": {
                    "type": "string",
                    "default": ""
                },
                "money：单价": {
                    "type": "string",
                    "default": "10.00"
                },
                "number：数量": {
                    "type": "integer",
                    "default": 2
                }
            }
        },
        "StayListPostResponse200DataSite": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "uid": {
                    "type": "integer",
                    "default": 1
                },
                "name：名称": {
                    "type": "string",
                    "default": "老王"
                },
                "phone：电话": {
                    "type": "string",
                    "default": "110"
                },
                "site：地址": {
                    "type": "string",
                    "default": "江西南昌"
                },
                "detail：详细地址": {
                    "type": "string",
                    "default": "红谷滩万达b1 1313"
                },
                "label：标签": {
                    "type": "string",
                    "default": "公司"
                },
                "status": {
                    "type": "integer",
                    "default": 2
                },
                "add_time": {
                    "type": "integer",
                    "default": 1595235466
                },
                "update": {
                    "type": "integer",
                    "default": 1595238729
                }
            }
        },
        "StayListPostResponse200Data": {
            "properties": {
                "goods：商品": {
                    "type": "object",
                    "$ref": "#\/definitions\/StayListPostResponse200DataGoods：商品"
                },
                "site": {
                    "type": "object",
                    "$ref": "#\/definitions\/StayListPostResponse200DataSite"
                },
                "payment：1线上2线下": {
                    "type": "string",
                    "default": "1"
                },
                "evaluate：1未评价2已评价": {
                    "type": "string",
                    "default": "1"
                },
                "remark：备注": {
                    "type": "string",
                    "default": "雷大哥你别打我，这个东西很完美"
                },
                "price：商品总价": {
                    "type": "string",
                    "default": "30.00"
                },
                "coupon：优惠劵金额": {
                    "type": "integer",
                    "default": 10
                },
                "money：支付金额": {
                    "type": "string",
                    "default": "0.00"
                },
                "balance：余额支付": {
                    "type": "integer",
                    "default": 20
[...]
